h1 {{ title }}
#sidebar: p github: benbenIO - Japanese for engineering

<p align= "right">
<h5 align= "right"> Grade:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/{{size}} </h5>
</p>

h1 {{ vocab }}

{{ pdf_tools.dataframe_to_html(dataframe) }}

<style> h3 {margin-top: 4em;} </style>